
@font-face {
    font-family: TTLakes;
    src: url(/fonts/TTLakes/TTLakes-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: TTLakes bold;
    src: url(/fonts/TTLakes/TTLakesCondensed-ExtraBold.ttf);
    font-style: normal;
    font-display: swap;
}

body {
    font-family: TTLakes;
    color: #1B1C21;
    margin: 0 auto;
    background-color: #F8F8F8;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    margin: 0 16px;
}



/*  HEADER  */

.header {
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header__left, .header__right {
    display: flex;
    align-items: center;
}

.header__item {
    margin-left: 16px;
}

.header__item:first-child {
    margin-left: 0;
}

.header__logo {
    height: 51px;
    width: 96px;
}

.header__right::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 2px;
    background-color:#EAEAEA;
    margin-right: 16px;
}



/*  MAIN  */

.main__title {
    font-family: TTLakes bold;
    font-weight: bold;
    font-size: 28px;
    margin-top: 23px;
    display: flex;
    align-items: center;
}

.main__title::before {
    content: '';
    display: inline-block;
    height: 40px;
    margin-right: 16px;
    margin-left: -4px;
    border-right: 8px solid #41F6D7;
    border-radius: 4px;
}

.slide_menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 24px;
}

.slide_menu::-webkit-scrollbar {
    width: 0;
}

.slide_menu__link {
    padding: 10px 16px;
    width: 500px;
    color: #7E7E82;
    font-weight: bold;
}

.slide_menu__link:first-child {
    margin-left: 16px;
}

.slide_menu__link:last-child {
    margin-right: 16px;
}

.slide_menu__link--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.block {
    margin-top: 24px;
}

.block__text {
    font-size: 14px;
}

.link__read_more {
    color: #000;
    font-weight: bold;
    display: inline-flex;
    margin: 20px 0;
}

.link__logo {
    margin-right: 10px;
}

.block__cps_img {
    margin-bottom: 35px;
    width: 100%;
}