@font-face {
    font-family: TTLakes;
    src: url('../fonts/TTLakes/TTLakes-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: TTLakes bold;
    src: url('../fonts/TTLakes/TTLakes-ExtraBold.woff');
    font-style: normal;
    font-display: swap;
}

body {
    font-family: TTLakes;
    color: #1B1C21;
    margin: 0 auto;
    background-color: #F8F8F8;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    margin: 0 16px;
}

[class$="--align_items--center"] {
    display: flex;
    align-items: center;
}


/*  HEADER  */

.header {
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header__item {
    margin-left: 16px;
}

.header__item:first-child {
    margin-left: 0;
}

.header__logo {
    height: 51px;
    width: 96px;
}

.header__right .header__item--vertica-line--left::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 2px;
    background-color:#EAEAEA;
    border-radius: 1px;
    margin: 0 16px;
}


/*  MAIN  */

.main {
    
    padding-top: 23px;
}

.main__title {
    font-family: TTLakes bold;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
}


.main__title::before {
    content: '';
    display: inline-block;
    height: 40px;
    margin-right: 16px;
    margin-left: -2px;
    border-right: 4px solid #41F6D7;
    border-radius: 2px;
}

.slide_menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 24px;
    text-align: center;
}

.slide_menu::-webkit-scrollbar {
    width: 0;
}

.slide_menu__link {
    padding: 10px 16px;
    width: 500px;
    color: #7E7E82;
    font-weight: bold;
}

.slide_menu__link:first-child {
    margin-left: 16px;
}

.slide_menu__link:last-child {
    margin-right: 16px;
}

.slide_menu__link--active {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
}

.block {
    margin-top: 24px;
    margin-bottom: 35px;
}

.block__text {
    font-size: 14px;
}

.item_tablet, .item_PC {
    display: none;
}

.link__read_more {
    color: #000;
    font-weight: bold;
    display: inline-flex;
    margin: 20px 0;
}

.link__logo {
    margin-right: 10px;
}

.block__cps_img {
    width: 100%;
}




@media screen and (min-width: 768px) {


    .container {
        margin: 0 25px;
    }
    


    .header__container {
        padding: 25px;
    }

    .header__left .header__item--vertica-line--left::before {
        content: '';
        display: inline-block;
        height: 32px;
        width: 2px;
        background-color:#EAEAEA;
        border-radius: 1px;
        margin-right: 16px;
    }


    .main__title::before {
        margin-right: 24px;
    }

    .block {
        display: flex;
    }

    .header__right .header__wrapper {
        display: flex;
    }

    .block__container--flex--right {
        margin: 0 25px;
    }

    .item_tablet {
        display: block;
    }

    .block__text.item_tablet {
        margin-top: 25px;
    }

    .block__text.item--width--768 {
        margin-top: 25px;
    }

    .block__cps_img {
        margin: 0;
        min-width: 360px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1120px) {

    body {
        max-width: 1120px;
    }

    .container {
        margin: 0 30px;
    }

    .main {
        padding: 40px 30px;
        background-color: #F8F8F8;
    }

    .block__cps_img {
        min-width: 520px;
    }

    .item_PC {
        display: block;
    }

    .block__text.item_PC {
        display: inline;
    }

    .header {
        display: none;
    }

    .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__title::before {
        margin-right: 28px;
    }

    .main__header_links {
        display: flex;
    }
    
    .main__header_link {
        display: flex;
        align-items: center;
        color: #000;
        font-weight: bold;
        margin-left: 32px;
    }

    .main__header_link img {
        margin-left: 8px;
    }

    .slide_menu {
        margin-top: 10px;
    }

    .comments_link {
        color: #7E7E82;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 20px;
    }

    .block {
        margin-top: 24px;
    }
}