@font-face {
    font-family: TTLakes;
    src: url('../fonts/TTLakes/TTLakes-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: TTLakes bold;
    src: url('../fonts/TTLakes/TTLakes-ExtraBold.woff');
    font-style: normal;
    font-display: swap;
}



/* BUTTONS  */

button {
    cursor: pointer;
}

.icon {
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.button_burger {
    background-image: url(../img/icons/burger.svg);
}

.button_contacts {
    background-image: url(../img/icons/contacts.svg);
}

.button_chat {
    background-image: url(../img/icons/chat.svg);
}

.button_profile {
    background-image: url(../img/icons/profile.svg);
}

.button_repair {
    background-image: url(../img//icons/repair.svg);
}

.button_checkstatus {
    background-image: url(../img/icons/checkstatus.svg);
}



/*  BODY  */
body, * {
    font-family: TTLakes;
    color: #1B1C21;
    margin: 0 auto;
    background-color: #F8F8F8;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[class$="--item--tablet"], [class$="--item--PC"] {
    display: none;
}

.link {
    text-decoration: none;
}

[class$="--flex-center"] {
    display: flex;
    align-items: center;
}


/*  HEADER  */

.header {
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header__item {
    margin-left: 16px;
}

.header__item:first-child {
    margin-left: 0;
}

.header__logo {
    height: 51px;
    width: 96px;
}

.header__right .header__item--vertica-line--left::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 2px;
    background-color:#EAEAEA;
    border-radius: 1px;
    margin: 0 16px;
}


/*  MAIN  */

.main {
    padding-top: 23px;
}

.main__title {
    font-family: TTLakes bold;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
}


.main__title::before {
    content: '';
    display: inline-block;
    height: 40px;
    margin-right: 18px;
    margin-left: -2px;
    border-right: 4px solid #41F6D7;
    border-radius: 2px;
}

.slide-menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 24px;
}

.slide-menu::-webkit-scrollbar {
    width: 0;
}

.slide-menu__link {
    padding: 10px 16px;
    color: #7E7E82;
    font-weight: bold;
}

.slide-menu__link:first-child {
    margin-left: 16px;
}

.slide-menu__link:last-child {
    margin-right: 16px;
}

.slide-menu__link--active {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 6px;
}

.block p {
    font-size: 14px;
}

.block__left-container {
    padding: 0 16px;
}

.link__read-more {
    color: #000;
    font-weight: bold;
    display: inline-flex;
    margin: 20px 0;
}

.link__read-more::before {
    content: url(/img/icons/arrow-down.svg);
    margin: auto 15px;
    margin-left: 5px;
}

.block__cps-img {
    width: 100%;
}



/*  for tablet  */

@media screen and (min-width: 768px) {

    .header__container {
        padding: 25px;
    }

    [class$="--item--tablet"] {
        display: block;
    }

    .header__left .header__item--vertica-line--left::before {
        content: '';
        display: inline-block;
        height: 32px;
        width: 2px;
        background-color:#EAEAEA;
        border-radius: 1px;
        margin-right: 16px;
    }

    .header__right .header__wrapper {
        display: flex;
    }


    .main__title::before {
        margin-right: 22px;
    }

    .slide-menu__link:first-child {
        margin-left: 24px;
    }

    .slide-menu__link:last-child {
        margin-right: 24px;
    }

    .block {
        display: flex;
        gap: 35px;
        padding: 0 24px;
    }
    .block__left-container {
        padding: 0;
    }

    .block__text--item--tablet {
        margin-top: 25px;
    }
    
    .block__cps-img {
        min-width: 360px;
        border-radius: 5px;
    }
}



/*  for PC  */

@media screen and (min-width: 1120px) {

    body {
        max-width: 1120px;
    }

    .item_PC {
        display: block;
    }

    .header {
        display: none;
    }


    .main {
        padding: 40px 30px;
        background-color: #F8F8F8;
    }

    .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__title::before {
        margin-left: -30px;
    }

    .main__header-buttons {
        display: flex;
    }
    
    .main__header-button {
        display: flex;
        align-items: center;
        color: #000;
        border: none;
        font-size: 16px;
        font-weight: bold;
        margin-left: 30px;
    }

    .main__header-button span {
        margin-right: 10px;
    }


    .slide-menu {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .slide-menu__link, .slide-menu__link:last-child, .slide-menu__link:first-child {
        margin: 0;
        flex-grow: 1;
    }

    .block {
        padding: 0;
        padding-top: 24px;
    }

    .block__cps-img {
        min-width: 520px;
    }

    .block__text--item--PC {
        display: inline;
    }
}